$background: #fff;
$background_hover: #e8e5ce;
$background_selected: #fff;
$checkmark: #512e67;

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-list-item {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 12px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-list-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-list-item .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $background;
}

.checkbox-list-item:hover input ~ .checkmark {
  background-color: $background_hover;
}

.checkbox-list-item input:checked ~ .checkmark {
  background-color: $background_selected;
}

.checkbox-list-item:hover input:checked ~ .checkmark {
  background-color: $background_hover;
}

.checkbox-list-item .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-list-item input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-list-item .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $checkmark;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}