$color: #512e67;
$background: #fff;;
$background_hover: #e8e5ce;
$color_hover: #512e67;

.add-form {
  margin-top: 3vh;
  display: flex;
  align-items: center;
}

.add-form input {
    font-family: merriweather;
    color: #512e67;
    padding: 16px 32px;
    font-size: 1.2rem;
    max-width: 300px;
    background: white;
    border: 0;
    color: #512e67;
}

.add-form input:focus {
  outline: none;
}

.add-form button {
  font-family: merriweather;
  border: none;
  color: white;
  height: 56px;
  width: 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 1px 0px 1px 2px;
  cursor: pointer;
  background-color: $background;
  color: $color;
}

.add-form button:hover {
  background-color: $background_hover;
  color: $color_hover;
}

.add-form button:focus {
  outline: none;
}