$background: #fff;
$background_hover: #e8e5ce;
$background_selected: #fff;
$checkmark: #512e67;

.radio-list {
  display: flex;
  flex-wrap: wrap;
}

.radio-list-item {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 12px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-list-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-list-item .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: $background;
}

.radio-list-item:hover input ~ .checkmark {
  background-color: $background_hover;
}

.radio-list-item input:checked ~ .checkmark {
  background-color: $background_selected;
}

.radio-list-item:hover input:checked ~ .checkmark {
  background-color: $background_hover;
}

.radio-list-item .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-list-item input:checked ~ .checkmark:after {
  display: block;
}

.radio-list-item .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: $checkmark;
}