$padding: 3mm;

.form .print {
  opacity: 0;
  background: #000000aa;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.5s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: bold;
}

.form .print {
  .fas {
    font-size: 6rem;
  }

  .print-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .print-text {
      font-size: 1.2rem;
      font-family: merriweather;
      width: 80%;
      text-align: center;
      font-weight: 100;
    }

    .print-text strong {
      font-weight: 800;
    }
  }

  .print-warning {
    color: orange;

    .print-title {
      margin-top: 10mm;
      font-size: 2rem;
      text-align: center;
    }

    .fas {
      margin-bottom: 5mm;
    }
  }
}

.form:hover .print {
  opacity: 1;
  cursor: pointer;
}

// Generic

.form {
  background: white;
  margin: auto;
  position: relative;
  color: black;
  overflow: hidden;
}

.form-contact {
  position: absolute;
  top: 5mm;
  left: 3%;
  width: 85mm;
  height: 55mm;
  border: 0.25mm solid black;
  padding: $padding;
}

.form-event {
  position: absolute;
  top: 5mm;
  right: 3%;
  width: 43mm;
  height: 55mm;
  padding: $padding;
  padding-right: 0;
}

.form-content {
  position: absolute;
  top: 65mm;
  left: 3%;
  width: 94%;
  height: 129mm;
  margin-top: 5mm;
}

.form-footer {
  position: absolute;
  padding: 6mm 0;
  text-align: center;
  font-size: 0.65rem;
  font-family: Montserrat;
  background: white;
  width: 96%;
  bottom: 0;
  left: 2%;
}

// A5

.form.a5 {
  width: 148.5mm;
  min-width: 148.5mm;
  height: 209mm;
}

// A4

.form.a4 {
  width: 210mm;
  min-width: 210mm;
  height: 296mm;
}

.form.a4 .form-event {
  right: 65mm;
  height: 55mm;
}

.form.a4 .form-content {
  top: 65mm;
  height: 215mm;
}

// da5

.form.double-a5 {
  width: 297mm;
  min-width: 297mm;
  height: 209mm;
}

.before-rotate {
  display: flex;
}

.form.double-a5 .rotate {
  position: relative;
  transform-origin: top left;
  width: 100%;
  height: 100%;
  width: 148.5mm;
  min-width: 148.5mm;
  max-width: 148.5mm;
  height: 210mm;
  border-right: 0.25mm dashed #ccc;
}

.form.double-a5 .rotate2 {
  position: relative;
  transform-origin: top left;
  width: 100%;
  height: 100%;
  width: 148.5mm;
  min-width: 148.5mm;
  height: 210mm;
}

// Elements

.title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 0.75rem;
  margin-right: 4mm;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 0 4mm 0 0;
}

.checkbox:last-child {
  padding: 0;
}

.checkbox-case {
  min-height: 2mm;
  min-width: 2mm;
  max-height: 2mm;
  max-width: 2mm;
  border: 1px solid black;
  margin-right: 1mm;
}

.checkbox-text {
  font-family: Merriweather;
  font-size: 0.75rem;
  font-weight: 400;
  -webkit-line-clamp: 1;
  line-height: 8mm;
  max-height: 8mm;
  overflow: hidden;
}

.multi-block {
  line-height: 8mm;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.block {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@for $i from 1 through 100 {
  .block-line-#{$i} {
    -webkit-line-clamp: #{$i};
    line-height: 8mm;
    max-height: calc(8mm *#{$i});
    overflow: hidden;
  }
}

.block-field {
  margin-right: 2mm;
}

.field {
  position: relative;

  .field-writing {
    position: absolute;
    top: 0;
    left: 0;

    .field-writing-title {
      opacity: 0;
      margin-right: 2mm;
    }

    .field-writing-value {
      font-family: "Caveat", cursive;
      font-size: 1.2rem;
      line-height: 5mm;
    }
  }
}

.footer-1 {
  font-weight: 600;
}
