$color: #512e67;
$background: #fff;
$background_hover: #e8e5ce;
$color_hover: #512e67;

.text-input {
  margin-top: 3vh;
  display: flex;
  align-items: center;
}

.text-input input {
  font-family: merriweather;
  color: #512e67;
  padding: 16px 32px;
  font-size: 1.2rem;
  max-width: 300px;
  background: white;
  border: 0;
  width: 100%;
  color: #512e67;
}

.text-input input:focus {
  outline: none;
}
