body {
  background: #512e67;
  color: white;
  font-weight: 100;
}

main {
  background: linear-gradient(
    to right,
    #512e67,
    #512e67 70px,
    #fff 70px,
    #fff 80px,
    #e8e5ce 80px,
    #e8e5ce 150px,
    #512e67 150px
  );
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  padding: 2rem 0;
  font-size: 1rem;
  font-family: Montserrat;
  text-align: center;
}

footer a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

footer a:hover {
  color: #e8e5ce;
}

.page {
  display: flex;
}

.preview {
  // position: fixed;
  right: 0;
  padding-top: 4rem;
}

.settings {
  margin-left: 150px;
  padding: 4rem 4rem 0 4rem;
  max-width: 800px;

  h1 {
    font-family: Montserrat;
    font-size: 6rem;
    margin: 0;
  }

  h2 {
    font-family: merriweather;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
    color: #e8e5ce;
  }

  h3 {
    font-family: merriweather;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 3rem;
    color: #e8e5ce;
  }

  .settings-logo {
    height: 117px;
    margin-right: 20px;
  }

  .settings-title {
    display: flex;
    align-items: center;
    max-width: 100vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
  .preview {
    margin-top: 3rem;
    margin-left: 150px;
    padding: 0;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    background: linear-gradient(
      to right,
      #fff,
      #fff 10px,
      #e8e5ce 10px,
      #e8e5ce 15px,
      #512e67 15px
    );
  }
  .settings {
    margin-left: 20px;
    padding-top: 2rem;
    padding-left: 1rem;
    width: calc(100% - 40px - 1rem);

    .settings-logo {
      height: 8vh;
      margin-right: 2vh;
    }

    h1 {
      font-size: 7vh;
    }
  }
  .preview {
    margin-top: 3rem;
    margin-left: 20px;
    padding: 0;
    padding-left: 4rem;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .preview {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  main {
    background: #fff;
  }
}
